
/* 'Playfair Display',serif;   'Open Sans', sans-serif; */

/* #a3c962 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
}
body{
  width:100%;
  overflow: hidden;
  overflow-y:scroll;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: inline-block;
  background: url(https://www.the-autonomous.com/wp-content/uploads/2020/10/automated-vehicles-safety-architecture.jpg)
    no-repeat;
  background-size: cover;
  background-origin: border-box;
  min-height: 100vh;
  margin-bottom: 70px;
  color: white;
  display: block;
  z-index: 0;
  
}
#navbar{
  width:100%;
}
.nav-logo {
  display: flex;
  justify-content: space-between;
  padding: 13px 4px 13px 4px;
}

.nav-logo button {
  margin-right: 20px;
}
#navbar {
  padding-top: 15px;
}

#navbar ul {
  display: none;
}

#navbar ul li a {
  color: #fff;
  font-weight: bold;
}

button {
  background-color: #0b3bdb;
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  font-size: 15px;

  border-radius: 500px;
}

.nav-logo h1 a {
  margin-left: 20px;
  font-size: 27px;
  color: white;
  font-family: "Open Sans", sans-serif;
  display: initial;
  font-weight: bold;
  font-size: clamp(0.7rem, 0.5rem + 2vw, 27px);
  
}


.content {
  display: block;
  margin: 0 auto;
  text-align: center;
  z-index: 12;
  position: relative;
  padding-inline:10vw;

}

.content h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: clamp(0.7rem, 0.5rem + 2vw, 50px);
  font-family: 'Playfair Display', serif;
}

.content h3 {
  font-size: 40px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
  font-weight: 20px;
}

.content p {
  color: #dadada;
    font-size: clamp(0.7rem, 0.5rem + 2vw, 30px);

  text-shadow: 2px 2px 8px #000;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: inherit;
  font-family: 'Playfair Display', serif;
}

.content .btn-white {
  background-color: #fff;
  color: #11130f;
  margin-right: 8px;
  margin-bottom: 95px;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 16px);
    font-family: 'Playfair Display', serif;
  padding: 0.5em 1.8em;
}

.content .btn-green {
  border-style: unset;
  color: #fff;
  border: 1px solid #fff;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 16px);
    font-family: 'Playfair Display', serif;
   padding: 0.5em 1.8em;

}

.content .btn-green:hover,
.content .btn-white:hover {
  background-color: #961414;
  color: #f0eded;
  border: 1px solid #fff;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.textcenter {
  text-align: center;
}
.textgreen {
  color: #00AD85 !important;
}
.context {
  line-height: 1.1rem;
}
.context h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.27rem;
  font-weight: 550;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
.context p {
  font-size: 15px;
  color: #a8a9ad;
  letter-spacing: 1px;
  padding: 10px 0px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}
.context2 {
  display: block;

  width: 100%;
}
.fern {
  display: flex;

  width: 100%;
  justify-content: center;
}

.ferncontext {
  margin-top: 5%;
  margin-left: 3%;
  font-family: 'Playfair Display', serif;
}

.ferncontext h3 {
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
}
.lightertext {
  font-weight: 100;
  font-size: 25px;
}
.ferncontext p {
  font-size: 1rem;
  color: #a8a9ad;
  letter-spacing: 1px;
  padding: 10px 0px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.progressbars {
  display: block;
}

.ninty {
  text-align: center;
  padding-bottom: 18px;
}

.eighty {
  padding-bottom: 18px;

  text-align: center;
}
.seventyfive {
  text-align: center;
}

.ninty h4,
.eighty h4,
.seventyfive h4 {
  margin-top: 1rem;
  font-family: 'Playfair Display', serif;
}

.progress {
  width: 7.5rem;
  height: 7.5rem;
  border: 2px solid #049dff;
  border-radius: 50%;
  transform: rotate(135deg);
}
.progress-left {
  width: 90px;
  height: 90px;
  border: 1px solid #b1b1b1;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: 0.75rem;
  z-index: 1;
  transform: rotate(-135deg);
}
.progress-right {
  width: 40%;
  height: 25%;
  background: #fff;

  /* position: relative;
    left: 20%; */
}
.progress-value {
  position: relative;
  top: 1.95rem;
  left: 0.25rem;
  font-size: 30px;
  color: #049dff;
}
.progress-status {
  display: flex;
  justify-content: center;
}

.progress-green {
  width: 7.5rem;
  height: 7.5rem;
  border: 2px solid #1abc9c;
  border-radius: 50%;
  transform: rotate(112deg);
}

.progress-left-green {
  width: 90px;
  height: 90px;
  border: 1px solid #b1b1b1;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: 0.75rem;
  z-index: 1;
  transform: rotate(-112deg);
}

.progress-right-green {
  width: 50%;
  height: 34%;
  background: #fff;

  /* position: relative;
    left: 20%; */
}

.progress-value-green {
  position: relative;
  top: 1.95rem;
  left: 0.25rem;
  font-size: 30px;
  color: #1abc9c;
}

.progress-status-green {
  display: flex;
  justify-content: center;
}

.progress-golden {
  width: 7.5rem;
  height: 7.5rem;
  border: 2px solid #fdba04;
  border-radius: 50%;
  transform: rotate(100deg);
}

.progress-left-golden {
  width: 90px;
  height: 90px;
  border: 1px solid #b1b1b1;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: 0.75rem;
  z-index: 1;
  transform: rotate(-100deg);
}

.progress-right-golden {
  width: 70%;
  height: 37%;
  background: #fff;
  /* position: relative;
    left: 20%; */
}

.progress-value-golden {
  position: relative;
  top: 1.95rem;
  left: 0.25rem;
  font-size: 30px;
  color: #fdba04;
}

.progress-status-golden {
  display: flex;
  justify-content: center;
}

/* forest forest forest forest forest forest  */

.forest {
  background: url(https://raw.githubusercontent.com/Nis-chal/web-dev/main/images/s1.jpg);
  padding-bottom: 4%;
}
.forest--text {
  display: block;

  text-align: center;
  padding: 10px;
}
.forest--text {
  color: #fff;
}

.forest__heading > h1 {
  color: #00ADB5;
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
}


.forest__paragraph > p {
  line-height: 30px;
  font-weight: lighter;
}

.box1 {
  display: block;
  text-align: center;
  background: #fff;
  margin: 3%;
  padding: 5%;
  border-radius: 15px;
}
.box1:hover{
  border-radius: 20px;
  transition: 3s;
}
.boxres{
  display: flex;
  flex-direction: row;
}
.box1 span > i {
  font-size: 1.6rem;
}
.box1 > p {
  letter-spacing: 0.4px;
  line-height: 32px;
  color: #222831;font-family: 'Playfair Display', serif;

}
.box1 > h2 {
  color: #393E46;
  padding: 10px;
  font-family: 'Playfair Display', serif;
}

/* about about about about about */

.about {
  padding-bottom: 4%;
}

.about--text {
  display: block;

  text-align: center;
  padding: 10px;
  color: #fff;
}

.about__heading > h3 {
  color: #a3c962;
  font-family: 'Playfair Display', serif;
}

.about__heading > h1 {
  color: #000;
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
}

.about__paragraph > p {
  line-height: 30px;
  font-weight: lighter;
  color: #676662;
  font-family: 'Playfair Display', serif;
}

.about__container {
  display: flex;
  margin: 15px;
  gap: 5%;
}

.about--imgcolumn1 {
  width: 45.5%;
}
.about__innerimage {
  width: 100%;
}

.about__outerimage {
  width: 100%;
}

.about--imgcolumn2 {
  width: 45.5%;
}

.about--imgcolumn2 span > img {
  width: 100%;
}

.about__imgrow2 {
  width: 100%;
  font-size: 0;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 540px) {
  .content{
    width: max-content;
  }
  .content h1{
    font-size: clamp(0.5rem, 0.3rem + 1.2vw, 20px);
  }
  .content h3{
    font-size: 15px;
  }
  .content p {
    font-size: clamp(0.5rem, 0.3rem + 1.2vw, 20px);
  }
  .ferncontext {
    width: 79%;
  }
  .progressbars {
    display: flex;
    justify-content: space-around;
  }
  /* forest forest forest  */
  .forest--boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    justify-content: center;
  }

  .box1 {
    width: 40%;
    padding: 4%;

    margin: 10px;
  }
  .box{
    height: 50%;
  }
  /* about about about about about*/
}

@media screen and (min-width: 1000px) {
  .content{
    width: max-content;
  }
  .content h1{
    font-size: clamp(0.5rem, 0.3rem + 1.2vw, 20px);
  }
  .content h3{
    font-size: 15px;
  }
  .content p {
    font-size: clamp(0.5rem, 0.3rem + 1.2vw, 20px);
  }
  .container {
    max-width: 100%;
    height: 100vh;
  }

  .nav-logo button {
    display: none;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #navbar ul {
    display: flex;
    margin-right: 3rem;
  }
  #navbar ul li {
    padding: 0 1rem;
  }

  .context2 {
    display: block;
    width: 58.85%;
  }
  .progressbars {
    width: 67%;
  }

  .container2 {
    display: flex;
    align-items: center;
  }
  .fern {
    width: 50%;

    height: max-content;
  }
  .fern img {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 100%;
    object-fit: cover;
  }

  /* forest forest forest forest forest forest */

  .forest {
    height: 100%;
  }
  .forest--text {
    display: flex;
    align-items: center;
    padding-top: 25px;
  }
  .forest__paragraph > p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .forest__paragraph {
    text-align: end;
    width: 35%;
    margin-right: 25px;
    margin-left: 14%;
  }

  .forest--boxes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    justify-content: center;
  }

  .box1 {
    width: 350px;
    margin: 10px;
  }
}

/* about media about media about media about media about media about media about media */
@media screen and (min-width:200px) {
  .content h1{
    font-size: clamp(0.5rem, 0.5rem + 1.5vw, 40px);
  }
  .content h3{
    font-size: 35px;
  }
  .content p {
    font-size: clamp(0.5rem, 0.5rem + 1.5vw, 40px);
  }
}
@media screen and (min-width: 700px) {
  .content{
    width: max-content;
  }
  .content h1{
    font-size:clamp(0.4rem, 0.45rem + 1.4vw, 35px);
  }
  .content h3{
    font-size: 35px;
  }
  .content p {
    font-size: clamp(0.4rem, 0.45rem + 1.4vw, 35px);
  }
  .about__container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .about--imgcolumn1 {
    width: 100%;
    margin-left: 5%;
  }
  .about__imgrow1 {
    display: flex;
    width: 100%;
  }

  .about--imgcolumn2 {
    width: 100%;
  }
  .about__imgrow2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .about--imgcolumn2 span > img {
    width: 100%;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.res{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40vh;
  background: #010615;
}
.box{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.5s;
  background: #060c21;

}
.box:hover{
  height: 400px;
}
.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.box .imgBx img{
  max-width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

.box:hover .imgBx img{
opacity: 1;
}

.box:before{
   content: '';
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   background: #fff;
   z-index: -1;
}
.box:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.box:before,
.box::after
{
background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.box:nth-child(2):before
.box:nth-child(2):after
{
  background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);

}

.box:nth-child(3):before
.box:nth-child(3):after
{
  background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);

}

.box .content1 {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;

}
.box:hover .content1{
  opacity: 1;
}

.box .content1 h2{
font-size: 20px;
color: #fff;
font-weight: 500;
line-height: 20px;
letter-spacing: 1px;

}
.box .content1 h2 span{
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
 
 }
 
